<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                 <tr> <th>Id</th><th>Nom</th> <th>Moyenne</th> <th>Date Inscription</th> </tr>
                     <tbody *ngFor="let etudiant of etudiants">
                             <tr >
                                 <td>{{etudiant.idetudiant}}</td>
                                 <td>{{etudiant.nom}}</td>
                                 <td>{{etudiant.moyenne}}</td>
                                 <td>{{etudiant.dateInscrip | date:'dd/MM/yyyy'}}</td>
                                 <td><a class="btn btn-danger" (click)="supprimerEtudiant(etudiant)">Supprimer</a></td>
                                 <td><a class="btn btn-success" [routerLink]="['/updateEtudiant',etudiant.idetudiant]">Modifier</a></td>
                            </tr>
                     </tbody>
                </table>
        </div>
    </div>
</div>