<div class="container">
    <div>
    <h2>Ajouter un Etudiant :</h2>
    </div>
    <form >
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label >IDEtudiant</label>
            <input type="text" [(ngModel)]="newEtudiant.idetudiant" name="idetudiant" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4" >
            <label >Nom </label>
            <input type="text"[(ngModel)]= "newEtudiant.nom" name="nom" class="form-control">
        </div>

        <div class="col-sm-2 col-md-2 col-lg-2">
             <label >moyenne</label>
             <input type="number" [(ngModel)]= "newEtudiant.moyenne" name="moyenne" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label >Date Inscription</label>
            <input type="date" [(ngModel)]= "newEtudiant.dateInscrip" name="dateInscrip" class="form-control">
        </div>

        <div class="mt-2">
        <button type="submit" (click)="addEtudiant()" class="btn btn-success">Ajouter</button>
          <div>
           <h3>{{message}} </h3>
          </div>
        </div>
     </form>
</div>